.video-card__footer-text {
  position: absolute;
  bottom: 0;
  color: #fff;
  display: flex;
  margin-bottom: 20px;
}

.video-card__footer-text > h3 {
  margin-left: 10px;
  /* padding-bottom: 20px; */
}

.video-card__footer-text > h3 > button {
  color: #fff;
  font-weight: 900;
  text-transform: inherit;
}
